/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
/bb
.clj-kondo/.cache
/.cpcache
/cljs-test-runner-out
/sci
/cljs-opts.edn
/tmp
/.lsp/
.rebel_readline_history
# ClojureDart generated artifacts
/lib
/bin
/pubspec.yaml
/pubspec.lock
/.dart_tool
/test/cljd-out
/.clojuredart
/analysis_options.yaml
/.packages
/build
.gitattributes
/test/edamame_test.dart
