{:tasks
 {quickdoc {:doc "Invoke quickdoc"
            :extra-deps {io.github.borkdude/quickdoc {:git/sha "25784ca358f3f7d524db2e6e6969324061ffae60"}}
            :task (exec 'quickdoc.api/quickdoc)
            :exec-args {:git/branch "master"
                        :github/repo "https://github.com/borkdude/edamame"
                        :source-paths ["src/edamame/core.cljc"]}}}}
