{:tasks
 {quickdoc {:doc "Invoke quickdoc"
            :extra-deps {io.github.borkdude/quickdoc {:git/sha "62dd3c6a828c3a5e61bae6ca80c8ba4781356a67"}}
            :task (exec 'quickdoc.api/quickdoc)
            :exec-args {:git/branch "master"
                        :github/repo "https://github.com/borkdude/edamame"
                        :source-paths ["src/edamame/core.cljc"]}}}}
