{:linters {:unresolved-symbol {:exclude [(clojure.test/is [thrown-with-data?])
                                         (cljs.test/is [thrown-with-data?])]}}
 ;; cljd.core protocols are unknown to clj-kondo
 :config-in-ns {edamame.impl.cljd-shim {:linters {:unresolved-symbol {:level :off}}}
                edamame.impl.cljd-reader-types {:linters {:unresolved-symbol {:level :off}}}}}
